{#- Установим Кадировку (UTF-8) -#}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

        
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--Не снимать {{copyright}}-->
<meta property="og:cms" content="SHCMS Engine" />
{#- Наименование Сайта -#}
<meta property="og:site_name" content="{{site_name}}" />
<!--Разработик скрипта-->
<meta property="og:url" content="http://www.shcms.ru/" />
{#- Наименование страниц -#}
<meta property="og:title" content="{{title}}" />
{#- Описание (DESCRIPTION) -#}
<meta name="description" content="{{description}}" />  
{#- Ключевые слова для поисковиков -#}
<meta name="keywords" content="{{keywords}}" />    
    
{#- Заголовок Страниц -#}
<title>{{title}}</title>